# Importing modules

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#datasets
personality_scores = pd.read_csv('personality_scores.csv', delimiter =';')

In [3]:
personality_scores.head(5)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
personality_scores.isnull().sum()

ID                                                           0
Section 5 of 6 [I am always prepared.]                       0
Section 5 of 6 [I am easily disturbed.]                      0
Section 5 of 6 [I am exacting (demanding) in my work.]       0
Section 5 of 6 [I am full of ideas.]                         0
                                                          ...
Unnamed: 65                                               1555
Unnamed: 66                                               1555
Unnamed: 67                                               1555
Unnamed: 68                                               1555
IPIP_HIGH_RISK                                            1555
Length: 70, dtype: int64

# Duplicates checking

In [5]:
unique = personality_scores['ID'].nunique()
unique

1555

# Examining the dataframe by ID and droppping duplicates

In [6]:
personality_new= personality_scores.drop_duplicates(subset = 'ID')

# checking the new data frame length is = the original data frame

In [7]:
personality_new['ID'].unique().sum() == personality_scores['ID'].sum()

True

# Dropping columns with all null values

In [8]:
personality_scores.dropna(axis = 1, inplace = True)
personality_scores.head(5)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

In [9]:
personality_scores.rename(columns=lambda x: x.replace('Section 5 of 6 [', ''), inplace=True)
personality_scores.rename(columns=lambda x: x.replace('.]',''), inplace=True)
personality_new.rename(columns=lambda x: x.replace(']',''), inplace=True)
personality_new=personality_new.dropna(axis = 1)
personality_new.head(3)
personality_scores.head(5)

,ID,I am always prepared,I am easily disturbed,I am exacting (demanding) in my work,I am full of ideas,I am interested in people,I am not interested in abstract ideas,I am not interested in other people's problems,I am not really interested in others,I am quick to understand things,...,I often forget to put things back in their proper place],I pay attention to details,I seldom feel blue (down),I spend time reflecting on things,I start conversations,I sympathize with others' feelings,I take time out for others,I talk to a lot of different people at parties,I use difficult words,I worry about things
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

# Creating new columns

In [10]:
def score(row, number, dataframe):
    '''Returns a count with
    row = 'row interations
    number = 'Personality it belongs to'
    dataframe = "new dataframe"
    '''
    count = 0
    for column in dataframe.columns:
        breakdown = row[column]
        if type(breakdown) == str:
            tup_break = breakdown[1]
            result = int(breakdown[4])
            if tup_break == number:
                count += result
    return count

#Adding columns the dataframe and applying the score function
personality_new['Extraversion'] = personality_scores.apply(lambda row : score(row,'1', personality_new), axis = "columns")
personality_new['Agreeableness'] = personality_scores.apply(lambda row : score(row,'2', personality_new), axis = "columns")
personality_new['Conscientiousness'] = personality_scores.apply(lambda row : score(row,'3', personality_new), axis = "columns")
personality_new['Emotional stability'] = personality_scores.apply(lambda row : score(row,'4', personality_new), axis = "columns")
personality_new['Intellect'] = personality_scores.apply(lambda row : score(row,'5', personality_new), axis = "columns")

display(personality_scores)

KeyError: 'Section 5 of 6 [I am always prepared.'

# Importing department dataframe

In [ ]:
department_df = pd.read_csv('departments.csv', delimiter =';')
department_df.head(5)

In [ ]:
#ID column to be index of the dataFrame
index = department_df.set_index('ID')
index.head(5)

# Merging the personality_scores with department_df.

In [11]:
merging_data = pd.merge(department_df, personality_scores, how='right')
merging_data

NameError: name 'department_df' is not defined

# Create a new data frame with a count of the number of low and high risk applicants within each department

In [ ]:
filtered_high = merging_data[(merging_data.Conscientiousness < 30) & (merging_data.Agreeableness < 30) & (merging_data['Emotional stability'] < 30)]
filtered_high

In [ ]:
merging_data['Risk']=np.where((merging_data.Conscientiousness < 30) & (merging_data.Agreeableness<30) & (merging_data['Emotional stability'] <30),'high_risk','low_risk')
merging_data.head()

In [ ]:
grouped = merging_data["Department"].replace(["Web dev"], "Web Dev", inplace=True)
grouped

In [ ]:
merging_data["Department"].replace(["Web dev"], "Web Dev", inplace=True)

In [ ]:
grouped = merging_data.groupby('Risk')['Department'].value_counts().unstack().fillna(0).astype(int)
grouped

In [ ]:
department_data = pd.DataFrame(grouped.reset_index())
department_data